body {

}
/* Default link styling */
a:link { color:#0271fb; }
a:visited { color:#bd02fb; }
a:hover, a:focus { color:#000; }
a:active { color:#fb0e02; }



/* ---------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/
    body {
      background-color: #222;
      color: #EFE;
    }
    #content {
  
    }
    header {
      background-color: #111;

      border-bottom: 1px solid #333;
      width: 100%;
      text-align: center;
      position: static;
      top: 0px;

    }
    header h1 {
      font-family: Abel;
      color: #DFD;
    }
    .wikiimage {
      vertical-align: middle;
    }
    .resultHead {
    }
    .name {
      font-size: 1.5em;
      font-weight: bold;
      padding-left: 2em;
    }
    #searchform {
     padding: 0em 1em; 
    }

#searchbtn {
  -moz-box-shadow: inset 0px 1px 0px 0px #f9eca0;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f9eca0;
  box-shadow: inset 0px 1px 0px 0px #f9eca0;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e) );
  background: -moz-linear-gradient( center top, #f0c911 5%, #f2ab1e 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e');
  background: linear-gradient(#f2ab1e 13%, #dfd 18%, #f2ab1e 23%);
  -webkit-border-top-left-radius:37px;
  -moz-border-radius-topleft:37px;
  border-top-left-radius:37px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:37px;
  -moz-border-radius-bottomright:37px;
  border-bottom-right-radius:37px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0;
  border:1px solid #e65f44;
  display:inline-block;
  color:#c92200;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:45px;
  line-height:45px;
  width:100px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ded17c;
  transition: height 2s linear 1s;
  transition: background 1s ease;
}
#searchbtn:hover {
  background: -webkit-gradient( linear, right top, left bottom, color-stop(0.05, #f2ab1e), color-stop(1, #f0c911) );
  background:-moz-linear-gradient( center top, #f2ab1e 5%, #f0c911 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f0c911');
  background: linear-gradient(#f2ab1e 10%, #dfd 18%, #f2ab1e 26%);
  height:50px;
  background-color:#f2ab1e;
 
}.searchbtn:active {
  position:relative;
  top:1px;
}
ul li {
  list-style-type: none;
  padding: 1em 2em;
  margin: 1em 3em;
  background-color: #CCC;
  color: #000;
  border-radius: 6px;
  }
  ul li a,a:-webkit-any-link {
    text-decoration: none;
  }
  
  .ib {
    display: inline-block;
  }
  footer {
    background-color: #111;
    border-top: 1px solid #333;
    text-align: center;
    width: 100%;
    height: 2em;
    padding-top: 0;
    padding-bottom: .5em;
    position: fixed;
    bottom: 0px;
  }
  .shove {
    padding-left: 125px;
  }
  #splash {
    text-align: center;
  }
/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
    * {
        color:#000 !important;
        box-shadow:none !important;
        text-shadow:none !important;
        background:transparent !important;
    }
    html { background-color:#fff; }
    /* Hide navigation */
    nav { display:none; }

    /* Show link destinations in brackets after the link text */
    a[href]:after { content: " (" attr(href) ") "; }
    a[href] {
        font-weight:bold;
        text-decoration:underline;
        color:#06c;
        border:none;
    }
    /* Don't show link destinations for JavaScript or internal links */
    a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }

    /* Show abbr title value in brackets after the text */
    abbr[title]:after { content: " (" attr(title) ")"; }

    figure {
        margin-bottom:1em;
        overflow:hidden;
    }

    figure img { border:1px solid #000; }
}
